<!--<div class="page-header">
    <h1>Management</h1>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>User Management</strong>
    </div>
    <br/>
    <button type="button" class="btn btn-success">Apply Filter</button>
    <button type="button" class="btn btn-warning">Show All</button>
    <div class="col-lg-6">
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>&nbsp;</th>
        </tr>
        <tr ng-repeat="user in management.users|limitTo management.limit">
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>&nbsp;</td>
            <td><a hred="/edit/{{user._id}}">
                <button type="button" class="btn btn-primary">Edit</button>
            </a>
                <a hred="">
                    <button type="button" ng-click="management.deleteUser(user.username)" class="btn btn-primary">Edit</button>
                </a></td>
        </tr>
    </table>
</div>-->
<!-- menu -->
<section id="menu-list" class="section-padding">
    <header id="header">
        <div class="container">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/event">Event</a>
                <a href="/menu">Menu</a>
                <a href="/contact">Book a table</a>
                <a href="/review">Review</a>
                <a ng-show="!main.isLoggedIn" href="/login">Admin</a>
                <a ng-show="main.isLoggedIn" href="/register">Register</a>
                <a ng-show="main.isLoggedIn" href="/management">Manage</a>
                <a ng-show="main.isLoggedIn" ng-click="main.logout();" href="/logout">Logout</a>
            </div>
            <!-- Use any element to open the sidenav -->
            <span onclick="openNav()" class="pull-right menu-icon">☰</span>
        </div>
    </header>
    <div class="container">
        <div class="col-md-12 text-center marb-35">
            <h1 class="header-h">Welcome {{main.username}}</h1>

            <p class="header-p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                <br>nibh euismod tincidunt ut laoreet dolore magna aliquam. </p>
        </div>
        <div class="col-md-8 col-sm-8">
            <form >
                <div id="sendmessage">Your booking request has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <div class="col-md-6 col-sm-6 contact-form pad-form">
                    <div class="form-group label-floating is-empty">
                        <input type="text" ng-model="management.search" name="name" class="form-control" placeholder="Search" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                        <div class="validation"></div>
                    </div>

                </div>

            </form>
        </div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Date</th>
                <th>Time</th>
                <th>People</th>
                <th>Table</th>
                <th>Confirm Code</th>
                <th>&nbsp;</th>
            </tr>
            <tr ng-repeat="contact in management.contacts|filter:management.search">
                <td>{{contact.name}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.date}}</td>
                <td>{{contact.time}}</td>
                <td>{{contact.people}}</td>
                <td>&nbsp;</td>
                <td>{{contact.confirmCode}}</td>

                <td><a href="/edit/{{contact.confirmCode}}">
                    <button type="button" class="btn btn-primary">Edit</button>
                </a>
                    <a hred="">
                        <button type="button" ng-click="management.deleteContact(contact.confirmCode)" class="btn btn-danger">Delete</button>
                    </a></td>
            </tr>
        </table>
    </div>
</section>
<!--/ menu -->